@media (max-width: 1200px) {
    .info-block, .footer-info-wrapper{
        width: auto;
    }

    .cost-block {
        padding-left: 15px;
    }

    .field-wrapper-social {
        text-align: center;
    }

    .social-wrapper {
        display: block;
    }
}